body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 80px;
    background-color: burlywood;
}
ul{
    width: 500px;
    height: 500px;
    background-color: black;
    color: burlywood;
}