body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 80px;
    background-color: rgb(206, 235, 120);
}
ul{
    width: 500px;
    height: 500px;
    background-color: black;
    color: burlywood;
}
list{
    font-size: 30px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}